.header{
    width: 100%;
    margin: 0px;
    background-color: #eeeeee;
    padding: 20px 10px;
    display:inline-table;
    font-size: 20px;
}
.user-cart{
    margin: 30px 50px;

}
.cart-button{
    display: inline-flex;
    width: 100%;
}
.checkout{
    margin-left: 82%;
}
table{
    border-top: 1px solid #d9d9d9;
    width: 100%;
}
td, th{
    /*border-top: 1px solid #d9d9d9;*/
    /*padding: 10px 10px;*/
}
/*th{
    margin-left: 25%
    
}*/

